{% extends 'base.html' %} {% load static %} {% block content %}

<div id="home" class="overflow-x-hidden mb-52">
  <div id="welcome" class="h-screen relative flex justify-center items-center flex-col overflow-hidden">
    
    {% if user.is_authenticated %}
    <p class="md:text-xl">Hi <span class="text-orange"> {{ request.user.username }}</span>,<br> Welcome to</h1>    
      {% else %}
      <p class="md:text-xl">Welcome to</h1>
    {% endif %}
    <h1 id="deluxe" class="font-monte text-7xl lg:text-9xl -rotate-2">Deluxe</h1>
    <h3 class="mt-5 px-2 text-sm sm:text-base py-1 md:text-2xl rounded-md text-orange font-semibold capitalize">
      Delicious on number one.</h3>
    <img src="{% static 'images/bread.png' %}" class="w-full md:w-3/4 lg:w-2/4 absolute right-0 translate-x-[20%] bottom-0 -rotate-45 z-50" />
  </div>

  <div id="greeting" class="h-screen p-2 flex justify-center items-center bg-grey relative dark:bg-tree dark:text-skin">
    <p class="text-center w-10/12 md:w-8/12 md:text-xl rounded-lg" data-aos="zoom-out">{{ greeting }}</p>
    <img src="{% static 'images/bread2.png' %}" data-aos="zoom-in" class="greeting-img w-3/6 absolute z-10 md:w-2/6 bottom-5 lg:h-1/2 lg:w-fit lg:left-0" />
  </div>

  <div id="menu" class="p-2 overflow-hidden md:p-4 mt-52 lg:p-5 xl:p-6">
    <h3 class="text-4xl md:text-5xl mt-3 border-b border-brown">Menu</h3>
    <div id="menu-content" class="mt-10 flex flex-col items-center md:grid md:grid-cols-3 md:grid-rows-2 md:gap-3">
      
        {% for m in category %}
          <div class="menu w-11/12 bg-brown rounded-md my-3 aspect-video h-[25vh] md:h-[30vh] md:row-span-2 hover:scale-105 transtion duration-500 ease-in-out cursor-pointer overflow-visible" data-aos="fade-up">
            <img src="{{ m.image }}"  class="h-5/6 w-full object-cover rounded-t-md" />
            <p class="text-xl text-grey px-2 lg:text-2xl">{{ m.name }}</p>
          </div>
          {% endfor %}

    </div>
  </div>

  <div id="news" class="bg-grey mt-52 p-3 dark:bg-tree">
        <h3 class="font-monte text-4xl ">News</h3>
        <div id="news-content" class="mt-8 md:grid md:grid-cols-2">
            <img src="{{ news.image }}" class="w-10/12 mx-auto sm:w-8/12" data-aos="fade-right" />
            <div data-aos="fade-left">
                <h3 class="mt-5 font-semibold text-md md:text-lg lg:text-2xl">{{ news.title }} </h3>
                <p class="mt-2 text-[12px] md:text-base w-3/4 mb-3 text-neutral-500 dark:text-neutral-300">{{ news.body | striptags | truncatechars:"50" }}</p>
                <a href="/news/{{ news.slug }}" class="p-1 border border-brown text-sm mt-10 self-center mx-auto rounded-md">Read More</a>
            </div>
        </div>
  </div>

  <div id="locations" class="p-2 mt-52">
    <h3 class="text-4xl font-monte md:text-5xl lg:text-6xl">Locations</h3>
    <div id="locations-container" class="mt-8 flex flex-col md:flex-row items-center overflow-hidden flex-wrap justify-center">
      
      {% for l in locations %}
      
      <div class="locations cursor-pointer my-3 border-y border-brown py-10 text-center w-10/12 md:w-8/12 mx-3 lg:w-5/12 relative overflow-hidden group hover:scale-105 transition ease-in-out duration-300 hover:shadow-sm md:h-[35vh] flex justify-center items-center flex-col" data-aos="fade-right">
        <h4 class="z-30 text-md md:text-2xl">{{ l.city }}</h4>
        <p class="text-sm">{{ l.address }}</p>
        <img src="{{ l.image }}" class="absolute top-0 opacity-0 group-hover:opacity-20 transition ease-in-out duration-300 h-full w-full object-cover" />
      </div>
      
      {% endfor %}

        
    </div>
  </div>

</div>

{% endblock content %}
