<div
  id="dashboard-sidebar"
  class="fixed md:static z-50 top-0 left-0 bg-tree h-screen w-[45%] md:w-[30%] lg:w-[20%] md:h-screen text-grey px-3 text-lg transition duration-300 ease-in-out overflow-y-scroll"
>
  <span
    class="material-symbols-rounded float-right mb-10 text-3xl cursor-pointer hover:text-orange dashboard-sidebar-toggle md:hidden"
  >
    close
  </span>
  <div
    id="dashboard-nav-web"
    class="clear-both mt-5 border-b border-neutral-400 pb-3"
  >
    {% with request.resolver_match.url_name as url_name %}
    <p class="text-orange text-xl md:text-2xl">Website</p>
    <ul>
      <li><a href="/manager/" 
        class="{% if url_name == "manager-home" %}text-skin{% endif %}">Home</a></li>
      <li><a href="/manager/menu/" 
        class="{% if url_name == "manager-menu" %}text-skin{% endif %}">Menu</a></li>
      <li><a href="/manager/news/" 
        class="{% if url_name == "manager-news" %}text-skin{% endif %}">News</a></li>
    </ul>
  </div>

  <div id="dashboard-nav-orders" class="mt-5 border-b border-neutral-400 pb-3">
    <p class="text-orange text-xl md:text-2xl">Orders</p>
    <ul>
      <li><a href="/manager/carts/" 
        class="{% if url_name == "manager-carts" or url_name == "manager-carts-detail" %}text-skin{% endif %}">Cart</a></li>
      <li><a href="/manager/orders/" 
        class="{% if url_name == "manager-orders" or url_name == "manager-orders-detail" %}text-skin{% endif %}">Order</a></li>
    </ul>
  </div>

  <div id="dashboard-nav-users" class="mt-5 border-b border-neutral-400 pb-3">
    <ul>
      <p class="text-orange text-xl md:text-2xl">User</p>
      <li><a href="/manager/users/" class="{% if url_name == "manager-users" or url_name == "manager-users-detail" or url_name == "manager-users-edit" %}text-skin{% endif %}">User</a></li>
    </ul>
  </div>

  <div id="dashboard-nav-contact" class="mt-5 border-b border-neutral-400 pb-3">
    <ul>
      <p class="text-orange text-xl md:text-2xl">Contact</p>
      <li><a href="/manager/contacts/" class="{% if url_name == "manager-contacts" or url_name == "manager-contacts-detail"%}text-skin{% endif %}">Contacts</a></li>
      <li><a href="/manager/subscribers/" class="{% if url_name == "manager-subscribers" or url_name == "manager-subscribers-edit"%}text-skin{% endif %}">Subscribers</a></li>
    </ul>
  </div>

  <div id="dashboard-nav-other" class="mt-5 border-b border-neutral-400 pb-3">
    <p class="text-orange text-xl md:text-2xl">Other</p>
    <ul>
      <li><a href="/manager/about/"  class="{% if url_name == "manager-about" %}text-skin{% endif %}">About</a></li>
      <li><a href="/manager/greeting/" class="{% if url_name == "manager-greeting" %}text-skin{% endif %}">Greeting</a></li>
      <li><a href="/manager/locations/"  class="{% if url_name == "manager-locations" or url_name == "manager-locations-add" or url_name == "manager-locations-edit" %}text-skin{% endif %}">Locations</a></li>
    </ul>
  </div>
  {% endwith %}
</div>
