{% extends 'base.html' %} {% block content %}

<div id="contact" class="pt-24 px-3">
  <div id="contact-header">
    <h1 class="font-monte text-6xl text-center">Contact</h1>
    <p class="text-[12px] text-center text-neutral-500 mt-3">
      Connect with us with fill this form below
    </p>

    {% if request.user.is_staff %}

    <div class="mt-5">
      <a
        href="/contact/all/"
        class="text-sm font-semibold bg-grey p-2 rounded-md dark:bg-brown"
        >See Contacts</a
      >
    </div>
    {% endif %}

    <div id="contact-container" class="mt-10 overflow-x-hidden">
      <form
        action="/contact/create/"
        method="post"
        class="form-contact mx-auto w-11/12 sm:w-10/12 md:w-8/12 lg:w-6/12 flex flex-col"
      >
        {% csrf_token %}
        <div class="md:justify-between">
          <label>Name <span class="text-red-500">*</span> : </label>
          {{ form.name }}
        </div>
        <div class="md:justify-between">
          <label>Email <span class="text-red-500">*</span> : </label>
          {{ form.email }}
        </div>
        <div class="md:justify-between">
          <label>Corporation : </label>
          {{ form.corporation }}
        </div>
        <div class="md:justify-between flex flex-col flex-wrap">
          <label>Message <span class="text-red-500">*</span> : </label>
          {{ form.message }}
        </div>
        <button
          type="submit"
          class="mt-10 bg-brown px-5 py-2 text-grey rounded-md disabled:opacity:50"
        >
          Send
        </button>
      </form>
    </div>
  </div>

  {% endblock %}
</div>
