{% extends 'base.html' %} {% block content %}

<div id="unsubscribe" class="h-screen flex justify-center items-center">
  <div
    id="unsubscribe-container"
    class="shadow-md border border-neutral-300 p-5 rounded-md"
  >
    <h1 class="md:text-xl">Unsubscribe</h1>
    <p class="text-[11px] md:text-sm text-neutral-500">
      Fill your email down below to unsubscribe
    </p>
    <form
      action="/contact/unsubscribe/"
      method="post"
      class="text-sm mt-5 md:text-base"
    >
      {% csrf_token %} {{ form.as_div }}
      <button
        type="submit"
        class="border border-brown rounded-md p-1 text-[12px]"
      >
        Unsubscribe
      </button>
    </form>
  </div>
</div>

{% endblock %}
