{% extends 'base.html' %}{% load customtags %}{% block content %}

<div id="menu" class="pt-20 p-3 mb-32">
  <h1 class="font-monte text-6xl lg:text-7xl border-r border-brown px-3">
    Menu
  </h1>
  <!-- FOR STAFF -->
  {% if request.user.is_staff %}
  <div class="flex float-right mt-10">
    <a
      href="/menu/new/"
      class="bg-brown text-right px-5 py-2 text-sm md:text-base lg:text-lg rounded-md text-skin"
      >+New</a
    >
  </div>
  {% endif %}

  <div class="menu-container clean-both flex justify-around flex-wrap w-full">
    {% for c in category %}
    <h3
      class="basis-full text-5xl font-monte md:text-6xl lg:text-7xl border-b border-3 border-skin pb-5 dark:text-orange border-dashed text-center md:mb-5 mt-20"
      id="{{ c.name }}"
    >
      {{ c.name }}
    </h3>

    {% for m in menu %} {% if m.category.name == c.name %}
    <div
      class="menu aspect-[3/4] md:aspect-[1/1] w-4/12 my-5 mx-1 sm:w-3/12 lg:w-3/12 shadow-md bg-neutral-100 dark:bg-tree"
      data-aos="zoom-in"
    >
      <a href="/menu/{{ m.slug }}" class="hover:scale-105">
        <div
          id="menu-detail-stars"
          class="flex basis-full absolute top-1 right-1"
        >
          {% for _ in m.starrange|myrange %}
          <svg
            viewBox="0 0 60 60"
            class="stars w-[14px] md:w-[17px] lg:w-[24px] fill-yellow-400"
          >
            <path
              d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"
            />
          </svg>
          {% endfor %}
        </div>
        <img
          src="{{ m.image }}"
          class="h-3/4 w-full object-cover rounded-t-md"
        />
        <div
          class="menu-detail flex flex-col h-1/4 items-center justify-center p-2"
        >
          <p
            class="font-semibold text-orange dark:text-orange text-[11px] md:text-base lg:text-lg"
          >
            {{ m.name }}
          </p>
          <p class="prices text-[10px] md:text-sm lg:text-md">{{m.price}}</p>
        </div>
      </a>
    </div>
    {% endif %} {% endfor %}{% endfor %}
  </div>
</div>
{% endblock %}
