{% extends 'base-form.html' %} {% block content %}

<div
  id="forgot-password"
  class="auth-pages h-screen overflow-hidden flex justify-center items-center"
>
  <div
    id="forgot-password-container"
    class="bg-neutral-100 dark:bg-neutral-800 border w-9/12 sm:w-7/12 md:w-5/12 lg:w-4/12 border-neutral-400 p-5 rounded-md relative"
  >
    <a
      onClick="javascript:history.go(-1);"
      class="cursor-pointer absolute top-2 right-2 text-[12px] text-neutral-800 dark:text-grey md:text-[14px]"
      >Back</a
    >
    <h1 class="font-semibold md:text-xl dark:text-orange">
      Forgot your password?
    </h1>
    <p class="text-[11px] md:text-[14px] mb-4">
      Please enter your email to reset your password
    </p>

    {% if form.errors %}
    <p class="text-[11px] text-red-600">Your email not in our data</p>
    {% endif %}

    <form
      action="/users/forgot-password/"
      method="post"
      class="text-sm md:text-base flex flex-col form-auth"
    >
      {% csrf_token %} {{ form.email }}
      <button
        type="submit"
        class="w-6/12 text-sm rounded-md mx-auto mt-5 p-2 bg-brown text-grey"
      >
        Reset Password
      </button>
    </form>
  </div>

  {% endblock %}
</div>
