{% extends 'base.html' %}{% load customtags %}{% block content %}

<div id="cart" class="pt-20 p-3 mb-52">
  
  {% if messages %}
  {% for m in messages %}
    {% include 'components/messages.html' with message=m  %}
  {% endfor %}
  {% endif %}
  
  <div id="cart-header" class="flex justify-between items-end">
    <h1 class="text-7xl font-monte">Cart</h1>
    {% if cartexists == True %}
    <form action="/cart/deleteall/" method="post">
      {% csrf_token %}
      <button type="submit" class="text-neutral-600 dark:text-neutral-200 text-sm">Delete all</button>
    </form>
    {% endif %}
  </div>

  <div id="cart-container" class="mt-8 mx-auto p-3 sm:w-11/12 md:w-10/12">
    {% if cartexists == True %} {% for cm in cartmenu %}
    <div id="carts-{{ cm.menu.slug }}" class="carts h-[20vh] md:h-[23vh] rounded-lg bg-white dark:bg-tree p-2 shadow-sm my-4 md:grid md:grid-cols-2 md:grid-rows-2">
      <div id="cart-menu" class="grid grid-cols-2 grid-rows-2 h-3/4 md:row-span-2 md:h-full relative">
        <div id="stars-menu-cart" class="flex basis-full absolute top-1 left-1">
            {% for _ in cm.menu.rating|myint|myrange %}
            <svg viewBox="0 0 60 60" class="stars w-[14px] md:w-[17px] lg:w-[24px] fill-yellow-400">
              <path
                d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"
              />
            </svg>
            {% endfor %}
        </div>
          <img class="h-full row-span-2 w-full object-cover" src="{{ cm.menu.image }}"
          />
          <h3 class="place-self-center text-2xl md:text-3xl font-monte lg:text-4xl">
            {{ cm.menu.name }}
          </h3>
          <p class="justify-self-center text-orange text-[11px] lg:mt-2 lg:text-sm prices">
            {{  cm.menu.price  }}
          </p>
      </div>
      <div class="cart-actions grid grid-cols-6 grid-rows-1 place-content-center h-1/4 md:row-span-2 md:h-full">
        <div class="col-span-2 flex justify-center items-center md:h-full">
          <span class="qty-btn minus p-1 cursor-pointer md:text-xl">-</span>
          <input
            type="number"
            value="{{ cm.quantity }}"
            id="{{ cm.menu.slug }}"
            data-price="{{cm.menu.price}}"
            min="1",
            max="10"
            class="qty-cart text-neutral-800 dark:text-grey bg-transparent text-center focus:bg-transparent p-1 text-[11px] md:text-lg h-full w-1/2 border-none focus:ring-0 active:outline-none"
          />
          <span class="qty-btn plus p-1 cursor-pointer md:text-xl">+</span>
        </div>
        <p class="dark:text-skin text-[9px] sm:text-[12px] md:text-[13px] col-span-3 place-self-center">
          Total : 
          <span id="total-menu-{{ cm.menu.slug }}" class="total-carts-menu prices" data-price={{ cm.total }}>
            {{ cm.total }}</span>
        </p>
        <button id="{{ cm.menu.slug }}" class="btn-delete-menu-cart disabled:invisible">
          <span
            class="material-symbols-rounded text-sm md:text-base text-neutral-500 dark:text-neutral-300 cursor-pointer hover:text-orange"
          >
            delete
          </span>
        </button>
      </div>
    </div>
    {% endfor %}
    <div
      id="cart-checkout"
      class="bg-grey dark:bg-brown fixed w-full bottom-0 text-brown dark:text-skin left-0 p-3 rounded-t-lg flex justify-between items-center border-t border-grey z-50"
    >
      <div id="checkout-total">
        <h3 class="md:text-xl">Total :</h3>
        <p class="font-semibold md:text-2xl"><span id="all-total-cart">{{ cm.total }}</span></p>
      </div>
      {% if checkout == False %}
        <p class="bg-brown text-grey px-2 py-1 rounded-md text-[12px] sm:text-[14px] md:text-base text-center mx-2">You have order <span class="font-semibold"> {{ checkoutstatus }}.</span>Wait that finished </p>
      {% endif %}
      <div id="checkout-button">  
        <form action="/cart/checkout/" method="get">
        <button type="submit" id="checkout" class="bg-orange px-3 py-1 rounded-md shadow-lg text-white md:text-xl lg:text-2xl hover:scale-105 dark:bg-grey dark:text-orange disabled:opacity-50" {% if checkout == False %} disabled {% endif %}>
          Checkout
        </button>
      </form>
      </div>
    </div>
    {% else %}
    <div id="cart-empty" class="h-[50vh] text-center">
      <p>Your cart is empty</p>
      <p class="text-sm">Let's put something from <a href="/menu/" class="font-monte text-2xl md:text-4xl">Menu</a></p>
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
