{% extends 'base.html' %} {% block content %}
<!-- HEADER -->
<div id="nav-orders" class="mt-16 w-10/12 right-0 text-neutral-800 mx-auto">
  <a href="/users/" class="float-right dark:text-grey">Back</a>

  <select
    onchange="location = this.value"
    class="w-full focus:border focus:border-neutral-500 cursor-pointer bg-neutral-100 rounded-md md:text-lg"
  >
    <option
      selected
      class="border-b selected:bg-red-400"
      value="{{ request.path }}?status={{ request.GET.status }}"
    >
      {{ title }}
    </option>
    <optgroup label="Not Paid">
      <option value="/order?status=notpaid">Not Paid</option>
    </optgroup>
    <optgroup label="Process">
      <option value="/order?status=onprocess">On Process</option>
      <option value="/order?status=ontheway">On The Way</option>
      <option value="/order?status=received">Received</option>
    </optgroup>
    <optgroup label="Done">
      <option value="/order?status=finished" class="pt-10">Finished</option>
      <option value="/order?status=canceled">Canceled</option>
    </optgroup>
  </select>
</div>
<div id="orders" class="mt-2 p-3 clear-both">
  <h1 class="text-xl md:text-2xl text-neutral-800 dark:text-skin">
    Order <span class="font-semibold"> {{ title }}</span>
  </h1>

  <div id="orders-container" class="mt-5 mb-32">
    {% if component == 0 %} {% include 'single.html' %}{% endif %}
    <div>{% if component == 1 %} {% include 'orders.html' %}{% endif %}</div>
  </div>
</div>
{% endblock %}
