{% extends 'base-form.html' %}{% block content %}

<div id="news-form" class="p-3">
  {% include 'components/image-preview.html' %}
  <a onClick="javascript:history.go(-1);" class="cursor-pointer dark:text-skin"
    >Back</a
  >
  <h1
    class="mt-10 text-3xl border-b border-neutral-300 pb-2 md:text-4xl lg:text-4xl"
  >
    New News
  </h1>
  <form action="/news/create/" method="post" class="mt-10">
    {% if form.errors %}
    <p class="bg-red-500 p-1 text-neutral-100 w-fit">{{ form.errors }}</p>
    {% endif %} {% csrf_token %}
    <div class="news-input">
      <label>Title</label>
      {{ form.title }}
    </div>
    <div class="news-input">
      <label>Author</label>
      {{ form.author }}
    </div>
    <div class="news-input">
      <label>Image</label>
      {{ form.image }}
    </div>
    <div id="news-form-tiny">
      <label>Body</label>
      <textarea id="id_body" name="body">
{% if body %}{{ body }}{% endif %}</textarea
      >
    </div>

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}

    <button
      type="submit"
      class="bg-brown px-4 py-1 rounded-md text-grey md:text-lg lg:text-xl"
    >
      Create
    </button>
  </form>
</div>

{% endblock content %}
