{% extends 'base.html' %} {% load static %}{% load customtags %}{% load humanize %}{% block content %}

<div id="menu-detail" class="pt-24 h-screen p-3 flex flex-col gap-2 md:flex-row md:justify-around">

  <a class="absolute top-16 md:top-20 text-sm md:text-base right-5 underline cursor-pointer" href="/menu/">Back</a>
  
  
  <img src="{{ menu.image }}" id="menu-image-detail" class="h-3/6 bg-neutral-300 w-full object-cover rounded-md md:h-5/6 md:w-2/6 md:aspect-[3/4] overflow-hidden shadow-md" />


  <div id="menu-detail-description" class="md:w-1/2">

    {{ rating }}
    <!-- FOR ADMIN  -->
          {% if user.is_staff %}
            <div id="menu-admin" class="basis-full text-right">
              <a href="/menu/edit/{{ menu.slug }}" class="text-right">
                <span
                  class="material-symbols-rounded text-brown dark:text-grey text-[20px] md:text-xl lg:text-2xl"
                >
                  edit
                </span></a
              >
            </div>
          {% endif %}
    <div id="menu-description" class="mt-5">
        <div id="description-header" class="flex justify-between items-center flex-wrap">
          <h1 id="menu-detail-name" class="font-monte text-5xl md:text-7xl">{{ menu }}</h1>
          <p class="prices text-sm md:text-base text-neutral-800 dark:text-neutral-200">{{ menu.price }}</p>
          <div id="menu-detail-stars" class="flex mt-5 md:mt-8 basis-full">
              {% for _ in starrange %}
              <svg viewBox="0 0 60 60" class="stars w-[25px] md:w-[28px] fill-yellow-400">
                <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
              </svg>
              {% endfor %}
              <span class="text-sm text-neutral-400">({{ menu.rating }})</span>
          </div>
          <p class="text-neutral-800 dark:text-neutral-200">{{ sold }} sold</p>
        </div>
        <p id="menu-detail-desription"
        class="mt-5 text-[12px] sm:text-[13px] md:text-[14px] h-[12vh] md:h-[15vh] overflow-y-scroll overflow-x-hidden"
        >
        {{ menu.description }}
      </p>
    </div>

    <div id="menu-cart" class="mt-5 md:mt-10 flex flex-col items-center">
      
      {% if user.is_anonymous %}
      <p class="text-sm">You must <a href="/users/login/?next=/menu/{{ menu.slug }}" class="font-semibold underline"> login</a> for add this to cart</p>
      {% endif %}
      <button
        id="{{ menu.slug }}"
        data-name="{{ menu.name }}"
        class="btn-add-cart text-sm md:text-base mt-3 bg-brown text-grey px-3 py-2 rounded-md transition hover:scale-105 active:shadow-md dark:shadow-skin duration-200 ease-in-out disabled:opacity-50"
        {% if user.is_anonymous %} {{"disabled"}} {% endif %}
      >
        Add To Cart
      </button>
    </div>
  </div>
</div>

<div id="menu-rating-comment" class="mt-12 flex flex-col md:flex-row items-start mb-52">
  <div id="menu-rating" class="w-10/12 text-sm mx-auto mt-10 md:mt-0 md:w-5/12 text-neutral-800 dark:text-grey">
    <h3 class="text-base border-b border-neutral-300 pb-2 md:text-lg lg:text-x text-brown dark:text-grey">Rating</h3>

    {% if purchased == True %}
    <div id="user-rating" class="mt-5">
      <p class="text-[13px] text-brown dark:text-grey">Your rating : </p>
      {% if rated == True %}
      <div class="flex mt-3">
        {% for _ in userrate|myrange %}
          <svg viewBox="0 0 60 60" class="stars w-[28px] sm:w-[34px] md:w-[40px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
        {% endfor %}

        <a href="/menu/rate/{{ menu.slug }}/?next={{ request.path }}">
        <svg class="ml-3 w-[15px] fill-neutral-400" viewBox="0 0 512 512"><path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg></a>
      </div>
      {% else %}
        <p class=" mt-3 text-brown dark:text-orange">You haven't rated yet <a href="/menu/rate/{{ menu.slug }}/?next={{ request.path }}" class="text-yellow-500 p-1 uppercase border border-yellow-500 mt-5 rounded-md">Let's rate</a> </p>
      {% endif %}
    </div>
    {% endif %}

    <div id="menu-rating-container" 
      class="{% if purchased == True %}mt-10 {% else %}mt-3{% endif %} px-2 p-1">
      <div id="five-stars" class="flex py-1 justify-between border-b border-neutral-300 px-2">
        <div class="flex">
          {% for _ in 5|myrange %}
          <svg viewBox="0 0 60 60" class="stars w-[20px] sm:w-[24px] md:w-[28px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
          {% endfor %}
        </div>
        {{ stars.star5 }}
      </div>
      <div id="four-stars" class="flex py-1 justify-between border-b border-neutral-300 px-2">
        <div class="flex">
          {% for _ in 4|myrange %}
          <svg viewBox="0 0 60 60" class="stars w-[20px] sm:w-[24px] md:w-[28px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
          {% endfor %}
        </div>
        {{ stars.star4 }}
      </div>
      <div id="three-stars" class="flex py-1 justify-between border-b border-neutral-300 px-2">
        <div class="flex">
          {% for _ in 3|myrange %}
          <svg viewBox="0 0 60 60" class="stars w-[20px] sm:w-[24px] md:w-[28px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
          {% endfor %}
        </div>
        {{ stars.star3 }}
      </div>
      <div id="two-stars" class="flex py-1 justify-between border-b border-neutral-300 px-2">
        <div class="flex">
          {% for _ in 2|myrange %}
          <svg viewBox="0 0 60 60" class="stars w-[20px] sm:w-[24px] md:w-[28px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
          {% endfor %}
        </div>
        {{ stars.star2 }}
      </div>
      <div id="one-stars" class="flex py-1 justify-between border-b border-neutral-300 px-2">
        <div class="flex">
          <svg viewBox="0 0 60 60" class="stars w-[20px] sm:w-[24px] md:w-[28px] fill-yellow-400">
            <path d="m24 34.6-8.65 6.6q-.45.35-.9.3-.45-.05-.85-.3-.4-.25-.575-.675-.175-.425-.025-.975l3.3-10.75-8.5-6.1q-.45-.3-.575-.775-.125-.475.025-.875t.5-.725Q8.1 20 8.65 20H19.2l3.35-11.2q.15-.55.575-.825Q23.55 7.7 24 7.7t.875.275q.425.275.575.825L28.8 20h10.55q.55 0 .9.325t.5.725q.15.4.025.875t-.575.775l-8.5 6.1L35 39.55q.15.55-.025.975-.175.425-.575.675-.4.25-.85.3-.45.05-.9-.3Z"/>
          </svg>
        </div>
        {{ stars.star1 }}
      </div>
    </div>
  </div>

  <div id="menu-comments" class="mt-20 w-10/12 md:mt-0 sm:w-10/12 md:w-5/12 mx-auto">
    <div id="menu-comments-header" >
      <div class="border-b border-neutral-300 flex justify-between">
      <h3 class="md:text-lg lg:text-xl pb-2">Comments</h3>
      {% if request.user.is_authenticated %}
      <button class="self-end w-fit text-2xl comment-accordion-btn transition duration-300 ease-in-out">+</button>
      </div>
      <div class="flex flex-col comment-accordion">
        <form action="/menu/comment/" method="post" class="form-comments my-2 comment-accordion-form">
          {% csrf_token %}
          <input type="hidden" name="menu" value="{{ menu.slug }}">
          <textarea id="menu-comment-comment" cols="30" rows="2" class="w-full text-sm bg-grey focus:bg-grey focus:ring-0 focus:border-none dark:focus:text-neutral-800 rounded-md" name="comment"></textarea>
          <input type="hidden" name="next" value="{{ request.path }}#menu-comments">
          <button type="submit" class="text-sm border border-brown py-1 px-2 rounded-md text-brown dark:text-grey dark:border-grey">Post</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div id="menu-comments-container" class="mt-5 bg-neutral-200 dark:bg-tree p-3 rounded-md h-[38vh] overflow-y-scroll">
      {% if comments.count > 0 %}
        {% for c in comments %}
        <div class="comments bg-neutral-100 dark:bg-grey p-1 rounded-md shadow-sm my-3">
          <p class="text-[12px] sm:text-sm md:text-md w-11/12 dark:text-brown">{{ c.comment }} 
            {% if c.user.username == request.user.username %}
            <span id="{{ c.id }}" class="material-symbols-rounded text-brown ml-2 text-[15px] md:text-xl cursor-pointer comment-edit-btn">edit</span>
            <span id="{{ c.id }}" data-next="{{ request.path }}#menu-comments" class="material-symbols-rounded text-neutral-400 ml-1 md:ml-2 text-[15px] md:text-xl cursor-pointer comment-delete-btn">delete</span>
            {% endif %}
          </p>
          <p class="text-[9px] sm:text-[12px] mt-2  text-neutral-500">By {{ c.user.username }} - {{ c.created_at | timesince }} ago</p>
        </div>
        {% endfor %}    
      {% else %}
      <p class="text-neutral-400 text-sm ">No comments. Be the first comment...</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock content %}
