{% extends 'base-form.html' %} {% block content %}

<div id="menu-form" class="p-3">
  {% include 'components/image-preview.html' %}
  <a
    onClick="javascript:history.go(-1);"
    class="text-right float-left underline self-end text-lg right-0 cursor-pointer"
    >Back</a
  >
  <h1
    id="{{ title }}"
    class="text-4xl md:text-5xl mt-10 border-b border-neutral-300 dark:text-skin"
  >
    {{ title }}
  </h1>
  <form
    action="{{ linkform }}"
    method="post"
    class="menu-forms mt-10 w-11/12 sm:w-10/12 md:w-1/2 lg:w-5/12 mx-auto ml-5"
  >
    {% csrf_token %} {{ form.as_div }} {% if title == "Edit Menu" %}
    <input type="hidden" id="menu" name="menu" value="{{ menu }}" />
    {% endif %} {% if request.GET.next %}
    <input type="hidden" id="next" name="next" value="{{ request.GET.next }}" />
    {% endif %} {% if title == "New Menu" %}
    <div class="mt-5">
      <label>Tell Subscriber</label>
      <input type="checkbox" name="announce" />
    </div>
    {% endif %}
    <button
      type="submit"
      data-context="{{ button }}"
      id="btn-form-menu"
      class="bg-brown px-2 py-1 rounded-md text-grey mt-5 text-xl disabled:opacity-50"
    >
      {{ button }}
    </button>
  </form>

  <!-- IF FORM IS EDIT -->
  {% if title == "Edit Menu" %}
  <form
    action="/menu/delete/"
    method="post"
    id="form-delete-menu"
    class="text-lg border border-brown px-2 py-1 w-fit ml-5 mt-10 rounded-md"
  >
    {% csrf_token %} {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}
    <input type="hidden" name="menu" value="{{ menu }}" />
    <button id="delete-menu-btn" type="submit" class="btn-delete-menu">
      Delete
    </button>
  </form>
  {% endif %}
</div>

{% endblock content %}
