{% extends 'base.html' %} {% load humanize %} {% load customtags %}
<!---->
{% block content %}

<div id="order-manager" class="p-3 pt-14 lg:pt-20 overflow-x-hidden">
  <div id="order-manager-header"
    class="bg-grey shadow-sm rounded-md dark:bg-brown dark:text-grey flex justify-between items-center"
  >
    <h3 class="md:text-xl lg:text-2xl p-1">
      Hi, manager <span class="text-orange"> {{ user.username }}</span>
    </h3>
    <div id="order-manager-nav" class="w-2/6 lg:w-1/6 flex justify-around items-center">
      {% with request.resolver_match.url_name as url_name %}
      <a
        href="/order/manager/"
        class="{% if url_name == "ordermanagermain" %} bg-brown text-grey dark:bg-grey dark:text-brown {% endif %} p-1"
        >Main</a
      >
      <a href="/order/manager/all/" 
      class="{% if url_name == "ordermanagerall" %} bg-brown text-grey dark:bg-grey dark:text-brown {% endif %} p-1">All</a>
      {% endwith %}
    </div>
  </div>

  <div id="order-manager-container">
    <h1
      class="text-2xl md:text-3xl border-b border-brown border-dashed pb-2 mt-3 {% if context == "main" %}mb-10{% endif %}"
    >
      Orders
    </h1>
    <!-- MAIN -->
    {% if context == "main" %}

    <div id="waiting" class="sm:w-10/12 md:w-8/12 mx-auto">
      <div id="waiting-header">
        <h2 class="text-xl lg:text-2xl text-orange">Waiting</h2>
      </div>
      <div
        id="waiting-container"
        class="h-[55vh] overflow-y-scroll mt-3 bg-neutral-300 dark:bg-neutral-600 rounded-md p-2"
      >
      {% if waiting %}
        {% for w in waiting %}
        <div
          class="orders bg-neutral-100 dark:bg-neutral-800 shadow-sm w-full flex rounded-md my-3"
        >
          <div class="orders-info w-[70%] grid grid-cols-4 h-max place-content-center">
            <p class="text-[12px] lg:text-[14px] col-span-2 md:col-span-1 p-2">
              {{ w.user.username }}
            </p>
            <p class="text-[11px] lg:text-[13px] col-span-2 md:col-span-1 p-2">
              Total : <span class="text-orange prices">{{ w.total }}</span>
            </p>
            <p
              class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2 text-neutral-500 dark:text-neutral-300"
            >
              {{ w.created_at|timesince }} ago
            </p>
            <a href="/order/{{ w.order_token }}" class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2">See detail...</a>
          </div>
          <div
            class="orders-status w-[30%] border-l-2 border-dashed border-neutral-300"
          >
            <form method="post" action="/order/change-status/" class="form-orderchangestatus flex flex-col justify-center items-center h-full p-1">
              {% csrf_token %}
              <select name="status" data-status="{{ w.status.status }}" class="order-status-select text-[12px] md:text-[14px] px-2 py-1 bg-neutral-100 rounded-md focus:bg-neutral-100 border-neutral-400 focus:divide-x-0 focus:divide-y-0 focus:border focus:border-neutral-400 w-8/12">
                <option value="onprocess" class="bg-brown text-grey" selected>On Process</option>
                <option value="ontheway" class="bg-sky-700 text-grey">On The Way</option>
              </select>
              <button type="submit" class="text-[11px] mt-2 bg-neutral-300 dark:bg-neutral-700 p-1 rounded-md disabled:opacity-50 " disabled>Change</button>
              <input type="hidden" name="token" value="{{ w.order_token }}" />
              <input type="hidden" name="next" value="{{ request.path }}" />
            </form>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div id="waiting-empty" class="w-full h-full flex flex-col justify-center items-center">
          <svg viewBox="0 0 384 512" class="h-1/4 fill-neutral-400 dark:fill-neutral-800"><path d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"/></svg>
          <h3 class="mt-2 text-neutral-400 dark:text-neutral-800">Waiting order is empty</h3>
        </div>
        {% endif %}
      </div>
    </div>

    <div id="onprocess" class="sm:w-10/12 md:w-8/12 mx-auto mt-5">
      <div id="onprocess-header">
        <h2 class="text-xl lg:text-2xl">On Process</h2>
      </div>
      <div
        id="onprocess-container"
        class="h-[55vh] overflow-y-scroll mt-3 bg-neutral-200 dark:bg-neutral-700 rounded-md p-2"
      >
      {% if onprocess %}
        {% for op in onprocess %}
        <div
          class="orders bg-neutral-100 dark:bg-neutral-800 shadow-sm w-full flex rounded-md my-3"
        >
          <div class="orders-info w-[70%] grid grid-cols-4 h-max justify-items-center place-content-center">
            <p class="text-[12px] lg:text-[14px] col-span-2 md:col-span-1 p-2">
              {{ op.user.username }}
            </p>
            <p class="text-[11px] lg:text-[13px] col-span-2 md:col-span-1 p-2">
              Total : <span class="text-orange prices">{{ op.total }}</span>
            </p>
            <p
              class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2 text-neutral-500 dark:text-neutral-300"
            >
              {{ op.created_at|timesince }} ago
            </p>
            <a href="/order/{{ op.order_token }}" class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2">See detail...</a>
          </div>
          <div
            class="orders-status w-[30%] border-l-2 border-dashed border-neutral-300"
          >
          {% if op.status.status != "notpaid" %}
            <form method="post" action="/order/change-status/" class="form-orderchangestatus flex flex-col justify-center items-center h-full p-1">
              {% csrf_token %}
              <select name="status" data-status="{{ op.status.status }}" class="order-status-select text-[12px] md:text-[14px] px-2 py-1  rounded-md focus:bg-neutral-100 border-neutral-400 focus:divide-x-0 focus:divide-y-0 focus:border focus:border-neutral-400 w-8/12">
                <option {% if op.status.status == "onprocess" %}selected{% endif %} value="onprocess" class="bg-brown text-grey">On Process</option>
                <option {% if op.status.status == "ontheway" %}selected{% endif %} value="ontheway" class="bg-sky-700 text-grey">On The Way</option>
                {% if op.status.status == "ontheway" or op.status.status == "received" %}
                <option {% if op.status.status == "received" %}selected{% endif %} value="received" class="bg-teal-700 text-grey">Received</option>
                {% endif %}
                {% if op.status.status == "received" %}
                <option value="finished" class="bg-green-700 text-grey">Finished</option>
                {% endif %}
              </select>
              <button type="submit" class="text-[11px] mt-2 bg-neutral-300 dark:bg-neutral-700 p-1 rounded-md disabled:opacity-50" disabled>
                Change</button>
              <input type="hidden" name="token" value="{{ op.order_token }}" />
              <input type="hidden" name="next" value="{{ request.path }}#onprocess" />
            </form>
            {% else %}
              <p class="text-sm {{ op.status.status|statustext }} text-grey p-1 rounded-md justify-self-center mx-auto my-5 w-fit">{{ op.status }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div id="onprocess-empty" class="w-full h-full flex flex-col justify-center items-center">
          <svg viewBox="0 0 384 512" class="h-1/4 fill-neutral-400 dark:fill-neutral-800"><path d="M0 32C0 14.3 14.3 0 32 0H64 320h32c17.7 0 32 14.3 32 32s-14.3 32-32 32V75c0 42.4-16.9 83.1-46.9 113.1L237.3 256l67.9 67.9c30 30 46.9 70.7 46.9 113.1v11c17.7 0 32 14.3 32 32s-14.3 32-32 32H320 64 32c-17.7 0-32-14.3-32-32s14.3-32 32-32V437c0-42.4 16.9-83.1 46.9-113.1L146.7 256 78.9 188.1C48.9 158.1 32 117.4 32 75V64C14.3 64 0 49.7 0 32zM96 64V75c0 25.5 10.1 49.9 28.1 67.9L192 210.7l67.9-67.9c18-18 28.1-42.4 28.1-67.9V64H96zm0 384H288V437c0-25.5-10.1-49.9-28.1-67.9L192 301.3l-67.9 67.9c-18 18-28.1 42.4-28.1 67.9v11z"/></svg>
          <h3 class="mt-2 text-neutral-400 dark:text-neutral-800">On Process order is empty</h3>
        </div>
        {% endif %}
      </div>
    </div>

    <div id="newest" class="sm:w-10/12 md:w-8/12 mx-auto mt-10">
      <div id="newest-header">
        <h2 class="text-xl lg:text-2xl">Newest</h2>
      </div>
      <div
        id="newest-container"
        class="h-[55vh] overflow-y-scroll mt-3 bg-neutral-200 dark:bg-neutral-700 rounded-md p-2"
      >
        {% for nw in newest %}
        <div
          class="orders bg-neutral-100 dark:bg-neutral-800 shadow-sm w-full flex rounded-md my-3"
        >
          <div class="orders-info w-[70%] grid grid-cols-4">
            <p class="text-[12px] lg:text-[14px] col-span-2 md:col-span-1 p-2">
              {{ nw.user.username }}
            </p>
            <p class="text-[11px] lg:text-[13px] col-span-2 md:col-span-1 p-2">
              Total : <span class="text-orange prices">{{ nw.total }}</span>
            </p>
            <p
              class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2 text-neutral-500 dark:text-neutral-300"
            >
              {{ nw.created_at|timesince }} ago
            </p>
            <a href="/order/{{ nw.order_token }}" class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2">See detail...</a>
          </div>
          <div
            class="orders-status w-[30%] border-l-2 border-dashed border-neutral-300 flex justify-center items-center"
          >
            <p class="text-sm {{ nw.status.status|statustext }} text-grey p-1 rounded-md">{{ nw.status }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="finished" class="sm:w-10/12 md:w-8/12 mx-auto mt-10">
      <div id="finished-header">
        <h2 class="text-xl lg:text-2xl text-green-700 dark:text-green-500">
          Finished
        </h2>
      </div>
      <div
        id="finished-container"
        class="h-[55vh] overflow-y-scroll mt-3 bg-neutral-100 dark:bg-neutral-800 rounded-md p-2"
      >
        {% for fn in finished %}
        <div
          class="orders bg-neutral-100 dark:bg-neutral-800 shadow-sm w-full flex rounded-md my-3 border border-neutral-300"
        >
          <div class="orders-info w-[70%] grid grid-cols-4">
            <p class="text-[12px] lg:text-[14px] col-span-2 md:col-span-1 p-2">
              {{ fn.user.username }}
            </p>
            <p class="text-[11px] lg:text-[13px] col-span-2 md:col-span-1 p-2">
              Total : <span class="text-orange prices">{{ fn.total }}</span>
            </p>
            <p
              class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2 text-neutral-500 dark:text-neutral-300"
            >
              {{ fn.created_at|timesince }} ago
            </p>
            <a href="/order/{{ fn.order_token }}" class="text-[11px] lg:text-[12px] col-span-2 md:col-span-1 p-2">See detail...</a>
          </div>
          <div
            class="orders-status w-[30%] border-l-2 border-dashed border-neutral-300 flex justify-center items-center"
          >
            <p class="text-sm text-green-700 dark:text-green-500">
              {{ fn.status }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- ALL -->
    {% elif context == "all" %}
    <div id="order-manager-filter" class="accordion mt-2">
      <div class="accordion-btn text-neutral-800 dark:text-neutral-200 flex w-fit text-sm cursor-pointer">
        <svg viewBox="0 0 50 50" class="w-[20px] fill-neutral-800 dark:fill-neutral-200"><path d="M22 40q-.85 0-1.425-.575Q20 38.85 20 38V26L8.05 10.75q-.7-.85-.2-1.8Q8.35 8 9.4 8h29.2q1.05 0 1.55.95t-.2 1.8L28 26v12q0 .85-.575 1.425Q26.85 40 26 40Zm2-13.8L36 11H12Zm0 0Z"/></svg><span>Filter</span>
      </div>
      <form method="get" action="/order/manager/all/" class="order-filter accordion-content {% if request.GET.status or request.GET.user or request.GET.sort %} active {% endif %} flex flex-wrap justify-around text-sm gap-3">
      {{ ordersfilter.form.as_div }}
      <div class="flex justify-self-end">
        <button type="submit" class="bg-brown text-grey w-fit p-1 rounded-md">Search</button>
        <a href="/order/manager/all/" class="mt-2">Reset</a>
      </div>
      </form>
    </div>
    {% if orders %}
    <div class="overflow-scroll h-[80vh] w-full">
      <table class="w-full mt-5 table-auto text-center border-separate border-spacing-2">
          <tr class="text-sm">
            <th class="font-normal border-x-2 border-b-2 w-fit">User</th>
            <th class="font-normal border-x-2 border-b-2">Total</th>
            <th class="font-normal border-x-2 border-b-2 px-2">Status</th>
            <th class="font-normal border-x-2 border-b-2 px-2">Detail</th>
            <th class="font-normal border-x-2 border-b-2 px-2">Created</th>
          </tr>
          {% for o in orders %}
          <tr>
            <td class="text-[11px] sm:text-[12px] md:text-[14px] border-x-2 p-1">{{ o.user.username }}</td>
            <td class="prices text-[11px] sm:text-[12px] md:text-[14px] text-orange border-x-2 p-1">{{ o.total }}</td>
            <td class="{{ o.status.status|statustext }} rounded-md text-[11px] text-grey p-1 w-fit">{{ o.status}}</td>
            <td class="text-[11px] sm:text-[12px] md:text-[14px] border-x-2 p-1"><a href="/order/{{ o.order_token }}">See..</a></td>
            <td class="text-[8px] md:text-[11px] text-neutral-500 border-x-2 p-1">{{ o.created_at }}</td>
          </tr>
            {% endfor %}
      </table>
    </div>
    {% else %}
    <div id="orders-empty" class="h-[50vh] flex flex-col justify-center items-center">
      <svg viewBox="0 0 50 50" class="fill-neutral-400 dark:fill-neutral-700 w-1/4 md:h-1/2"><path d="m19 20.6 4-2q.5-.25 1-.25t1 .25l4 2V9H19ZM16 34q-.85 0-1.425-.575Q14 32.85 14 32q0-.85.575-1.425Q15.15 30 16 30h6q.85 0 1.425.575Q24 31.15 24 32q0 .85-.575 1.425Q22.85 34 22 34Zm-7 8q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h30q1.2 0 2.1.9.9.9.9 2.1v30q0 1.2-.9 2.1-.9.9-2.1.9ZM9 9v30V9Zm0 30h30V9h-7v14q0 .85-.7 1.3-.7.45-1.45.05L24 21.45l-5.85 2.9q-.75.4-1.45-.05T16 23V9H9v30Z"/></svg>
      <h3 class="text-neutral-400 dark:text-neutral-700"> Order is empty</h3>
    </div>
    {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}
