{% load static %}{% load tailwind_tags %}
<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth {% if request.session.is_dark == True %}dark{% endif %}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Deluxe</title>

    <!-- FONTS -->
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}" />

    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <!-- TAILWIND -->
    {% tailwind_css %}

    <!-- TINYMCE-->
    <script
      defer
      src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@2/dist/tinymce-jquery.min.js"
    ></script>

    <!-- AOS -->
    <link rel="stylesheet" href="{% static 'js/aos-master/dist/aos.css' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
</html>
