{% load static %}<!-- SCRIPT -->
<script src="{% static 'js/jquery/dist/jquery.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/aos-master/dist/aos.js' %}"></script>
<script src="{% static 'js/gsap-public/minified/gsap.min.js' %}"></script>
<script src="{% static 'js/gsap-public/minified/TextPlugin.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
