<div id="address-form">
  <div id="address-form-header" class="flex justify-between">
    <h2 class="text-2xl font-semibold md:text-4xl">New Address</h2>
    <a href="/users/settings/address/">Back</a>
  </div>
  <div id="address-form-container" class="mt-10 h-[70vh] md:w-11/12 mx-auto">
    <form
      action="/users/settings/address/new/"
      method="post"
      class="form-address w-9/12 md:w-7/12 lg:w-6/12"
    >
      {% csrf_token %}
      <div>
        <label>Street</label>
        <input type="text" name="street" max-length="255" required />
      </div>
      <div>
        <label>City</label>
        <select name="city">
          <option value="">----------</option>
          {% for l in locations %}
          <option value="{{ l.city }}">{{ l.city }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label>Zip Code</label>
        <input type="text" max-length="10" name="zip_code" required />
      </div>
      <div class="w-fit flex">
        <label>Default</label>
        <input type="checkbox" name="default" />
      </div>
      <button class="mt-10 bg-brown text-grey rounded-md px-5 py-1">
        Save
      </button>
    </form>
  </div>
</div>
