{% extends 'base-form.html' %} {% block content %}

<div
  id="login"
  class="auth-pages p-3 h-screen flex justify-center items-center"
>
  <div
    id="login-container"
    class="flex flex-col bg-neutral-100 dark:bg-neutral-800 border border-grey shadow-md px-8 py-4 rounded-md w-11/12 md:w-7/12 lg:w-5/12 relative"
  >
    <a
      onClick="javascript:history.go(-1);"
      class="absolute top-2 right-2 text-[12px] md:text-[14px] lg:text-sm cursor-pointer"
      >Back</a
    >
    <h3 class="font-semibold text-3xl self-center dark:text-orange">Login</h3>
    {% if messages %}{% for m in messages %}
    <div
      id="auth-messages"
      class="text-[12px] bg-red-600 mt-2 p-1 text-grey mb-2 text-center"
    >
      <p>{{ m }}</p>
    </div>
    {% endfor %}{% endif %}

    <form
      action="/users/login/"
      method="post"
      class="mt-8 form-auth md:w-3/4 mx-auto"
    >
      {% csrf_token %} {{ form.as_div }} {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
      <a
        href="/users/forgot-password"
        class="text-[12px] self-end text-neutral-500 dark:text-neutral-300"
        >Forgot Password?</a
      >

      <button
        type="submit"
        class="bg-brown text-grey px-5 py-1 mt-5 rounded-md w-fit mx-auto md:text-lg"
      >
        Login
      </button>
    </form>
    <p class="text-[12px] mt-5 self-end">
      Not Have Account ?
      <a href="/users/register" class="underline">Register</a>
    </p>
  </div>
</div>

{% endblock content %}
