<div id="edit-account">
  <div id="account-header" class="flex justify-between">
    <h2 class="text-2xl font-semibold md:text-4xl">Edit Account</h2>
    <a href="/users/settings/account/">Back</a>
  </div>
  <div id="account-container" class="mt-10 gap-5 text-sm md:w-11/12 mx-auto">
    <form
      action="/users/settings/account/update/"
      method="post"
      class="form-account"
    >
      {% csrf_token %}
      <div id="account-username" class="border-b border-neutral-300 py-3">
        <p class="text-neutral-500 text-sm">Username :</p>
        <input
          type="text"
          name="username"
          value="{{ request.user.username }}"
        />
      </div>
      <div id="account-fullname" class="border-b border-neutral-300 py-3">
        <p class="text-neutral-500 text-sm">Fullname :</p>
        <input
          type="text"
          name="fullname"
          value="{{ request.user.fullname }}"
        />
      </div>
      <div id="account-phone_number" class="border-b border-neutral-300 py-3">
        <p class="text-neutral-500 text-sm">Email :</p>
        <input type="email" name="email" value="{{ request.user.email }}" />
      </div>
      <div id="account-phone_number" class="border-b border-neutral-300 py-3">
        <p class="text-neutral-500 text-sm">Phone Number :</p>
        <input
          type="text"
          name="phone_number"
          value="{{ request.user.phone_number }}"
        />
      </div>
      <button
        type="submit"
        class="mt-10 bg-brown px-5 py-1 text-neutral-100 rounded-md text-lg"
      >
        Save
      </button>
    </form>
  </div>
</div>
