<div id="address-form">
  <div id="address-form-header" class="flex justify-between">
    <h2 class="text-2xl font-semibold md:text-4xl">Edit Address</h2>
    <a onClick="javascript:history.go(-1);" class="cursor-pointer md:text-lg"
      >Back</a
    >
  </div>
  <div id="address-form-container" class="mt-10 h-[70vh] md:w-11/12 mx-auto">
    <form
      action="/users/settings/address/update/"
      method="post"
      class="form-address w-9/12 md:w-7/12 lg:w-6/12"
    >
      {% csrf_token %}
      <input type="hidden" value="{{ address.address_code }}" name="code" />
      <div>
        <label>Street</label>
        <input
          type="text"
          name="street"
          max-length="255"
          value="{{address.street}}"
          required
        />
      </div>
      <div>
        <label>City</label>
        <select name="city">
          <option value="">----------</option>
          {% for l in locations %} {% if address.city == l.city %}
          <option value="{{ l.city }}" selected="selected">{{ l.city }}</option>
          {% endif %}
          <option value="{{ l.city }}">{{ l.city }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label>Zip Code</label>
        <input
          type="text"
          max-length="10"
          name="zip_code"
          value="{{ address.zip_code }}"
          required
        />
      </div>
      <div class="w-fit flex">
        <label>Default</label>
        <input {% if address.default == True %}checked{% endif %}
        type="checkbox" name="default"/>
      </div>
      <button class="mt-10 bg-brown text-grey rounded-md px-5 py-1">
        Save
      </button>
    </form>

    <form
      action="/users/settings/address/delete/"
      id="form-delete-address"
      class="mt-10"
      method="post"
    >
      {% csrf_token %}
      <input type="hidden" value="{{ address.address_code }}" name="code" />
      <button
        id="delete-address-btn"
        type="submit"
        class="border border-brown px-5 py-1 rounded-md"
      >
        Delete this address
      </button>
    </form>
  </div>
</div>
