<div id="change-password" class="h-screen">
  <h1>Change Password</h1>

  {% if messages %} {% for m in messages %}
  <p class="text-[12px] mt-3 text-{% if m.tags == "error" %}red-800 
  {% elif m.tags == "success" %}green-800{% endif %}">{{ m }}</p>
  {% endfor %}
  {% endif %}

  <form
    action="/users/settings/change-password/"
    method="post"
    class="form-change-password mt-5 md:w-6/12"
  >
    {% csrf_token %} {{ form.as_div }}
    <button class="bg-brown px-5 py-1 text-md mt-10 text-grey rounded-md">
      Change
    </button>
  </form>
</div>
