{% extends 'base.html' %} {% block content %}

<div id="news" class="pt-24 p-3 mb-22">
  <h1 class="text-6xl font-monte">News</h1>

  <!-- FOR STAFF -->
  {% if user.is_staff %}
  <a
    href="/news/new/"
    class="float-right text-sm md:text-base lg:text-lg bg-brown px-5 py-2 text-grey rounded-md"
    >+News</a
  {% endif %}

  <div id="news-container" class="mt-12 clean-both">
    {% for n in news %}
    <div
      class="news h-[43vh] w-10/12 my-10 sm:w-8/12 lg:w-6/12 mx-auto border-b border-orange"
      data-aos="fade-up"
    >
      <img class="h-1/2 w-full object-cover rounded-t-md" src="{{ n.image }}" />
      <div id="news-description">
        <h3 class="bg-brown text-grey p-1 md:text-xl">{{ n.title }}</h3>
        <p
          class="text-[12px] lg:text-md my-3 text-neutral-600 break-all dark:text-neutral-200 w-10/12"
        >
          {{ n.body | striptags | truncatechars:"50" }}
        </p>
        <a
          class="mt-4 border border-brown px-2 py-1 rounded-md text-[12px] md:text-sm"
          href="/news/{{ n.slug }}"
          >Read more...</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  <div
    id="news-paginator"
    class="mt-16 flex justify-evenly text-sm items-center"
  >
    {% if news.has_previous %}
    <a
      href="?page={{ news.previous_page_number }}"
      class="text-neutral-700 dark:text-neutral-300"
      >Previous</a
    >
    {% else %}
    <p>-</p>
    {% endif %}
    <p>{{ news.number }} of {{ news.paginator.num_pages }}</p>
    {% if news.has_next %}
    <a
      href="?page={{ news.next_page_number }}"
      class="p-3 hover:bg-neutral-200 rounded-md transition duration-300 ease-in-out dark:hover:bg-tree"
      >Next></a
    >
    {% else %}
    <p>-</p>
    {% endif %}
  </div>
</div>

{% endblock %}
